<div class="container mt-5 home-wrapper">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Plan your raids in detail with RaidManager.io!</h1>
    <p class="lead">Home page placeholder</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()" >Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)" ></app-register>
      </div>
    </div>
  </div>
</div>
