<div class="container-fluid profile-wrapper bg-white">
  <div class="row">
    <div class="col-sm-12 pt-3 pb-3">
      <h1 class="text-center">placeholder text </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bg-dark rounded" *ngIf="canBeLoaded">
      <div class="p-3 d-flex flex-row" >
        <img
          src="{{ character?.thumbnail_url }}"
          class="img-fluid border border-white m-2"
        />
        <div class="d-flex flex-column align-items-start">
          <h2 class="text-light pl-3">{{ character?.name }}</h2>
          <div class="d-flex flex-row">
            <h5 class="text-light pl-3">{{ character?.region.toUpperCase() }}</h5>
            <h5 class="text-light pl-1">{{ character?.realm }}</h5>
          </div>
          <div class="d-flex flex-row">
            <h6 class="text-light pl-3">{{ character?.race }}</h6>
            <h6 class="class-paladin pl-1">{{character?.active_spec_name}}</h6>
            <h6 class="class-paladin pl-1">{{ character?.class }}</h6>
          </div>
        </div>
      </div>
      <hr/>
        <div class="raid-progress-wrapper">
          <h6 class="text-light pl-3">RAID PROGRESSION</h6>   
          <div class="d-flex flex-row">
            <div class="bg-success raid-progress-item">
              <div class="raid-progress-image">
                <img class="raid-image" src="https://render-eu.worldofwarcraft.com/zones/uldir-small.jpg">
              </div>
              <div class="raid-progress-header">
                <h4 class="text-light pl-2">Uldir</h4>
              </div>
              <div class="raid-progress-body"></div>
            </div>
            <div class="bg-success raid-progress-item">
              <div class="raid-progress-image">
                <img class="raid-image" src="https://render-eu.worldofwarcraft.com/zones/uldir-small.jpg">
              </div>
              <div class="raid-progress-header">
                <h4 class="text-light pl-2">Uldir</h4>
              </div>
              <div class="raid-progress-body"></div>
            </div>
            <div class="bg-success raid-progress-item">
              <div class="raid-progress-image">
                <img class="raid-image" src="https://render-eu.worldofwarcraft.com/zones/uldir-small.jpg">
              </div>
              <div class="raid-progress-header">
                <h4 class="text-light pl-2">Uldir</h4>
              </div>
              <div class="raid-progress-body"></div>
            </div>
            <div class="bg-success raid-progress-item">
              <div class="raid-progress-image">
                <img class="raid-image" src="https://render-eu.worldofwarcraft.com/zones/uldir-small.jpg">
              </div>
              <div class="raid-progress-header">
                <h4 class="text-light pl-2">Uldir</h4>
              </div>
              <div class="raid-progress-body"></div>
            </div>
          </div>      
        </div>     
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>