
  <div class="container-fluid edit-wrapper bg-white">
    <div class="row">
      <div class="col-sm-12 pt-3 pb-3">
        <h1 class="text-center">placeholder text </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 bg-dark rounded">
        <p>profile edit</p>
        <a role="button" class="btn btn-primary btn-auth" href="https://eu.battle.net/oauth/authorize?access_type=online&client_id={{this.client_id}}&redirect_uri=https%3A%2F%2Flocalhost:4200&response_type=code&state=">Authorize using Battle.net</a>

      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
