<div class="container-fluid wrapper bg-info">
  <div class="row">
    <div class="col-sm-12 pt-3 pb-3">
      <h1 class="text-center">Your main character details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bg-dark rounded">
      <div class="p-3 d-flex flex-row">

        <img src="{{ mainChar.thumbnail_url }}" class="img-fluid border border-white" />
        <h2 class="text-danger pl-3">{{ mainChar.name }}</h2>
        <h2>{{ mainChar.class }}</h2>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
