.class-Death-knight {
  color: #C41E3A;
}

.class-Demon-hunter {
  color: #A330C9;
}

.class-Druid {
  color: #FF7C0A;
}

.class-Hunter {
  color: #AAD372;
}

.class-Mage {
  color: #3FC7EB;
}

.class-Monk {
  color: #00FF98;
}

.class-Paladin {
  color: #f58cba;
}

.class-Priest {
  color: #FFFFFF;
}

.class-Rogue {
  color: #FFF468;
}

.class-Shaman {
  color: #0070DD;
}

.class-Warlock {
  color: #8788EE;
}

.class-Warrior {
  color: #C69B6D;
}
