.class-death-knight {
  color: #C41E3A;
}

.class-demon-hunter {
  color: #A330C9;
}

.class-druid {
  color: #FF7C0A;
}

.class-hunter {
  color: #AAD372;
}

.class-mage {
  color: #3FC7EB;
}

.class-monk {
  color: #00FF98;
}

.class-paladin {
  color: #f58cba;
}

.class-priest {
  color: #FFFFFF;
}

.class-rogue {
  color: #FFF468;
}

.class-shaman {
  color: #0070DD;
}

.class-warlock {
  color: #8788EE;
}

.class-warrior {
  color: #C69B6D;
}
